.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(72, 128, 233);
}

.sign-up,
.login {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.title {
  padding: 15px;
  color: white;
  font-size: 25px;
}
