.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #3f51b5;
}

.sign-up,
.login {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.title {
  padding: 15px;
  color: white;
  font-size: 25px;
}
